site_name: My Docs

repo_url: https://github.com/sibsutis/inf-and-piogi
repo_name: Docs course
edit_uri: edit/master/docs/


nav:
  - Главная: piogi-2-sem/index.md
  - Лекции:
      - "Лекция 1: Git": piogi-2-sem/lections/lection-1.md
  - Практика:
      - "Лабораторная №1, часть 1": piogi-2-sem/main-pages/1-1-laba-brief.md
      - "Лабораторная №1, часть 2": piogi-2-sem/main-pages/1-2-laba-brief.md
  - Ссылки:
      - GitHub: https://github.com/sibsutis/inf-and-piogi


theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.annotation
    - content.code.copy
    - content.tabs.link
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.suggest

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      
plugins:
  - tags:
      tags_file: tags.md
  - glightbox:  # <--- ВОТ ТАК. Просто glightbox. И буква 't' на месте.
      touchNavigation: true
      loop: false
      effect: zoom